*{
    /*reseteamos los valores por defecto*/
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth; /* para que el scrool sea suave*/
}



body{
    
    background: #4DA0B0;  
    background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0); 
    background: linear-gradient(to right, #D39D38, #4DA0B0); 
    color: #f2f5f3;
    position: relative;
 
}

.contenedor-header{
    margin: auto;
    width: 100%;
    border-bottom:1px solid red ;
    
}

.navBar{
    position: fixed;
    z-index: 1;
    width: 100%;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    height: 70px;
}
.logo-A{
    width: 70px;
    height: 70px;
}

.nav-Menu{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    margin: auto;
    color: #f2f5f3;
    
}
.categoria{
    color: rgb(245, 195, 33);
    
    
}
.categoria:hover{
    cursor: pointer;
    background-color: #f2f5f3;
    color: #0d0e0d;
    padding: 5px;
    border-radius: 2px;
}

/*>----------------------------------------------------BODY-----------------------------------------------------<*/
.subir_inicio{
    background-image: url(https://dibujalia.com/files/preview/800x1132/11641062066ecex16syi9pshxnytewqlxhqzb3opqno8xlan0xpw8xklchd1sev0a3jjmriggjazznolt610xp38koqvc7h4r05daydedz1bo3f.jpg?type=free);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid red;
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 10;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    
}

.fondo_principal{
    width: 100%;
    height: 800px;
    background-image: url(./img/fondo_pc\ -\ copia.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    position: relative;
    
}
.titulo{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    height: 110px;
    width: 400px;
}
.logo_unco{
    width: 55px;
    height: 55px;
    position: absolute;
    top: 25%;
    left: 65%;
    animation: rotar 2s linear;
    animation-delay: 2s;
    transform-style: preserve-3d;
}

@keyframes rotar{
    0%{
        transform: rotatey(0deg);
    }
    100%{
        transform: rotatey(360deg);
    }
}

.titulo_h1{
    font-size: 45px;
    transition: all 0.5s ease-in-out;
    
}
.titulo_h1:hover{
    font-size: 53px;
    filter: drop-shadow(2px 2px 2px #07d3ee);
    color: #070707;
}
.titulo_h2{
    font-size: 20px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.conteiner_proyectos h3{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.conteiner_proyectos p{
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
}

.conteiner_footer{
    height:160px;
    background-color: black;
    align-items: center;
    font-size: 20px;
}
.footer_yo{
    
    align-items: center;
    padding: 5px;
    margin-left: 36%;
}
.footer_lista{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    font-size: 10px;
}
.li{
    margin: 8px;
    padding: 2px;
}
.footer_redes{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

/*>------------------------------------------seccion de ACERCA DE MI--------------------------------------------------<*/

.titulo_bio{
margin-top: 20px;
margin-left: 45%;
font-size: 30px;

}
.bio_foto{
    display: flex;
    padding: 20px;
    margin-top: 20px;

}
.bio_text{
    width: 600px;
    height: 300px;
    padding-left: 30px;
    padding-top: 5px;
    overflow: auto;
    margin-left: 40px; 
}
.bio_first{
    position:sticky;
    top: 0;
    border: 1px solid black;
    padding: 5px;
    background-color: beige;
    color: black;
}
.fotito{
    width: 350px;
    height: 350px;
    border-radius: 60%;
}
/*>-------------------------------------------------CONTACTOS---------------------------------------------------<*/
.conteiner_contactos{
    margin-top: 100px;
    margin-left: 28%;
    margin-bottom: 40px;
    border: 2px solid #070707;
    width: 650px;
    background: #44A08D;  
    background: -webkit-linear-gradient(to right, #093637, #44A08D);  
    background: linear-gradient(to right, #093637, #44A08D); 

}
.legenda{
    font-size: 28px;
    margin: auto;
    padding: 10px;

}
input[type=text],input[type=tel],input[type=email],input[type=number],input[type=textArea],select{
    width: 100%;
    padding: 4px 4px;
    border-radius: 4px;
    font-size: 15px;
}
textarea{
    width: 100%;
    padding: 4px 4px;
    border-radius: 4px;
    font-size: 15px;
}
datalist{
    width: 100%;
    padding: 4px 4px;
    border-radius: 4px;
    font-size: 15px;
}
.formu_etiquetas{
    padding: 5px;
    width: 100%;
    font-size: 20px;
    
}
.btn_cargar{
    width: 250px;
    height: 40px;
    padding: 4px;
    margin: 10px;
    border-radius: 4px;
    font-size: 18px;
    
}
.btn_cargar:hover{
    background-color: #070707;
    color: #f2f5f3;
    cursor: pointer;
    box-shadow: #fd523c 2px 2px 2px;
}
table{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-collapse: collapse;
    width: 100%;
    height: 100%;    
}
th, td{
    border: 1px solid white;
    text-align: left;
    padding: 10px 20px; 
}
th{
    font-size: 22px;
    text-align: center;
}